@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
font-family: 'Roboto', sans-serif;
background: #f8f8f8;
}



/**
for the sidebar
**/
.container .sidebar{
    background: rgb(253, 253, 253);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;  
    border: 1px solid rgb(238, 220, 220);
}



/**
for the items at the sidebar
**/
.container .sidebar ul li a{
    display: block;
    padding: 25px 30px;
    color: black;
    position: relative;
}



/**
for the icons at the sidebar
**/
.container .sidebar ul li a .icon{
    width: 30px;
    display: inline-block;
}


/**
for the instagram logo at the sidebar
**/
.container .sidebar .logo{
    display: block;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 26px; 
    font-family: 'Pacifico', cursive;
}